<html>
<title>Students Details</title> 
<body>
<div class=metanav>
<p><a href="/">Home</a></p>
</div>
<h1><center>STUDENTS  DETAILS</center></h1>
<h2>Enter Student Details:</h2>

<form action="." method="POST">
Student Name:<input type="text" name="studentname" /><br>
Sex:         <input type="text" name="sex" /><br>
Age:         <input type="text" name="age" /><br>
Total Mark:  <input type="text" name="mark" /><br>
<input type="submit" value="Add Student"/><input type="reset" />
</form>
</body>
</html>
        	   
